@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --text-color: #00aa00;
}

body {
  /* font-family: "Source Code Pro", monospace; */
  background-color: #333;
  /* color: #ccc; */
  /* font-size: 18px; */
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  /* font-size: 50px; */
  /* letter-spacing: -5px; */
  /* margin-bottom: 0px; */
}

h2 {
  color: var(--text-color);
}

h3 {
  /* margin-bottom: 10px; */
}

ul {
  /* list-style-type: none; */
}

a {
  /* text-decoration: none; */
  /* color: rgb(105, 103, 103); */
}

p {
  /* margin: 20px 0; */
}

input {
  font-family: "Source Code Pro", monospace;
  /* font-size: 18px; */
  color: #ccc;
  background: transparent;
  outline: none;
  border: none;
}

.cmd-input {
  margin: 0 0 0 2%;
}

/* nav { */
/* display: flex; */
/* flex-direction: column; */
/* width: 100%; */
/* } */

/* nav ul { */
/* display: flex; */
/* align-items: center; */
/* justify-content: space-evenly; */
/* } */

/* nav ul li { */
/* cursor: pointer; */
/* } */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .wb-body {
  background: #111;
  padding: 20px;
} */

.hidden {
  display: none;
}

.prompt {
  border: 1px solid rgb(102, 102, 102);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 2%;
  /* width: 70vw; */
}

.prompt div {
  color: var(--text-color);
  padding: 1%;
}

#about,
#contact {
  cursor: pointer;
}
.echo {
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  /* width: 40%; */
}

.main {
  display: flex;
  transition: 1s ease;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.console {
  display: none;
}
/* .cmd-input { */
/* width: 60%; */
/* } */
