@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");

@font-face {
  src: url("../fonts/FontsFree-Net-OperatorMono-Medium.ttf");
  font-family: "sarve-sh";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #98c379;
}

body {
  font-family: "sarve-sh";
  background-color: #22272e;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: 0;
}

h2 {
  color: var(--text-color);
}

h3 {
  font-family: "sarve-sh";
  margin-bottom: 10px;
}

div {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text-color);
  font-family: "sarve-sh";
  text-decoration: none;
}

p {
  margin: 20px 0;
}

nav {
  width: 50%;
}

div a {
  color: var(--text-color);
  cursor: pointer;
  background-color: #649bcc1f;
  margin: 5px 10px 5px 0px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 40%;
}

div a:hover {
  background-color: #649bcc3f;
}

.container {
  max-width: 600px;
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #98c379;
  border-width: 5px;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

.folder {
  color: #649bcc;
}
